body {background-image:url('https://i.pinimg.com/736x/eb/94/02/eb94029f20f50700db027c5b0c7ca056.jpg');
      background-repeat: no-repeat;
       background-size:cover;
       background-attachment: fixed;}
table{color:darkblue;
       border-collapse:collapse;
      border-color: black;}
